<footer class="page-footer black">
    <div class="container">
        <div class="row">
            <div class="col l12 m12 s12">
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container center">
            © 2019 Copyright
        </div>
    </div>
</footer>