<main>
    <section>
        <div class="container section">
            <div class="row">
                <div class="col l9 m9 s12">
                    <div id="theoryDiv" class="white-text center">
                        <span class="gotTheoryLogo">GoT Theories?</span>
                        <div id="theoryModal"><a class="waves-effect btn modal-trigger black left writeTheory"
                                href="#modal1"><i class="material-icons left">create</i>Write Theory</a></div>
                        <div id="theoriesGoHere" class="section">
                            <div class="row section">

                            </div>
                            <a class="waves-effect btn black writeTheory right commentButton" href="/comment.html"><i
                                    class="material-icons right">chat_bubble_outline</i>Comment</a>
                        </div>
                    </div>
                </div>
                <div class="col l3 m3 s12">
                    <div id="pollDiv" class="white-text center section">
                        <span class="pollText">Who Will Win The Throne?</span>
                        <div id="pollGoesHere">
                        </div>
                    </div>
                </div>
            </div>
    </section>
</main>