<header>
<nav class="nav-wrapper">
    <ul id="dropdown1" class="dropdown-content black">
        <li><a href="/theory" class="white-text">Write Theory</a></li>
        <li><a href="/" class="white-text">Logout</a></li>
    </ul>
    <nav>
        <div class="nav-wrapper black">
            <a href="" class="sidenav-trigger" data-target="mobile-menu">
                <i class="material-icons">menu</i>
            </a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/main.html" class="white-text">Home</a></li>
                <li><a href="/theory" class="white-text">Theories</a></li>
                <li><a href="/characters" class="white-text">Characters</a></li>
                <!-- Dropdown Trigger -->
                <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">
                        <div id="dropDownMenu"></div><i class="material-icons right">arrow_drop_down</i>
                    </a></li>
            </ul>
        </div>
        </div>

        <ul class="sidenav black" id="mobile-menu">
            <h3 class="menuButton">Menu</h3>
            <li><a href="/main.html" class="white-text">Home</a></li>
            <li><a href="/theory" class="white-text">Theories</a></li>
            <li><a href="/characters" class="white-text">Characters</a></li>
            <li><a href="/api" class="white-text">API</a></li>
            <li><a href="/" class="white-text">Logout</a></li>
        </ul>
    </nav>
</header>