.list-group-item {
  line-height: 2.5;
}

html {
  font-family: "Cinzel", serif;
}

body {
  background: url(../img/GoT.png);
  background-size: cover;
  background-position: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#theoryDiv {
  background: rgba(0, 0, 0, 0.493);
  min-height: 100px;
  padding: 15px;
}

.commentRow {
  background: rgba(0, 0, 0, 0.616);
  min-height: 100px;
  padding: 25px;
}

#writeLogo {
  line-height: 35px;
}

.writtenBy {
  line-height: 45px;
}

#postDiv {
  margin: 30px;
  background: rgba(0, 0, 0, 0.884);
}

#pollDiv {
  background: rgba(0, 0, 0, 0.493);
  padding: 15px;
}

.trans {
  background: rgba(0, 0, 0, 0.548);
  min-height: 100px;
}

.push {
  padding: 25px;
}

.sideNav {
  background: rgba(0, 0, 0, 0.397);
}

.menuButton {
  color: #881414;
  margin-left: 15px;
}

.burgerButton {
  padding: 20px;
}

.gotTheoryLogo {
  font-size: 32px;
}

.writeTheory:hover {
  color: #881414;
}

.commentButton {
  margin-top: -15px;
}

#Comment {
  line-height: 35px;
}

#submitTheory {
  font-family: "Cinzel", serif;
}

#goTo {
  margin-top: 25px;
}

#pencil {
  line-height: 35px;
}

.card {
  background: rgba(0, 0, 0, 0.693);
  color: #fff;
  margin-top: 30px;
}

.form-control {
  color: #fff;
}

.small {
  font-size: 12px;
}

@media screen and (max-width: 670px) {
  .gotTheoryLogo {
    font-size: 26px;
  }
  .pollText {
    font-size: 18px;
  }
  .sideNav {
    background: black;
  }
}